---
import Layout from '../layouts/Layout.astro';
import RetroHero from '../components/RetroHero.astro';
---


	<main>
		<hr class="pixel-divider" />
		<section class="retro-box" aria-labelledby="projects-placeholder">
			<h2 id="projects-placeholder" class="heading-font">Projects coming soon</h2>
		</section>
	</main>
